.azul{
    color: blue;
}

.rojo{
    color:red;
}
.amarillo{
    color:yellow;
}
.verde{
    color: greenyellow;
}

.azul-hover{
    color:aqua;
}

.azul-hover:hover{
    color:black;
    cursor: pointer;
}

.bg-azul{
    background-color: blue;
}
.bg-amarillo{
    background-color: yellow;
}
.bg-red{
    background-color: red;
}
.bg-cafe{
    background-color: brown;
}
.bg-green{
    background-color: green;
}
.bg-rosado{
    background-color: pink;
}